<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
</head>
<body>
	<form action="/product/create" method="post">
		<div>
			<label for="name"> Name:</label>
			<input type="text" class="text" id="name" name="name">
		</div>
		<div>
			<label for="description"> Description:</label>
			<input type="text" class="text" id="description" name="description">
		</div>
		<div>
			<label for="qtd"> Qtd:</label>
			<input type="text" class="text" id="qtd" name="qtd">
		</div>
		<input type="submit" valu="Enviar">
	</form>
</body>
</html>